body {
  background: white;
  /* #cfebea; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.button {
  font-family: Noto sans, sans-serif;
}

h1 {
  background: IndianRed;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
  border-left: 3px solid #IndianRed;
}

h2 {
  margin: 0rem 0 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.65rem;
  color: white;
  background: indianred;
  font-weight: bolder;
  padding: .5rem 1rem;
  border-radius: 25px;
  font-style: normal;
}

h3 {
  background: IndianRed;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
  border-left: 3px solid #IndianRed;
}

h3.title-centrales {
  margin-top: 2rem;
}

h4 {
  background: IndianRed;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
  border-left: 3px solid #IndianRed;
}

h5 {
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}

p small {
  line-height: 1.4rem !important;
  display: block;
}

#grid-pais {
  min-height: 100vh;
}

p.small {
  font-size: .85rem;
}

ul {
  list-style-type: disclosure-closed;

  li {
    a {
      color: black;
      text-decoration: underline;

      i {
        text-decoration: none !important;
        margin-left: 0.2rem;
      }
    }

    a:hover,
    a:focus {
      color: black;
      text-decoration: none;
    }
  }
}

#button-volver {
  position: absolute;
  right: 0;
  background: black;
  border-radius: 0 0 0 5px;
  position: fixed;
  z-index: 10000;
}

#button-volver:hover,
#button-volver:focus {
  position: absolute;
  right: 0;
  background: #969696;
  border-radius: 0 0 0 5px;
}

.accordion {
  background: none;
}

.accordion-title {
  border: 0;
  color: black;
  padding-left: 0;
  font-weight: 600;

}

.accordion-title::before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -.5rem;
  content: "+";
  font-size: 1rem;
}

.accordion-title:focus,
.accordion-title:hover {
  background: none !important;
  color: black;
  text-decoration: underline;
}

.accordion-content {
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

:last-child:not(.is-active)>.accordion-title,
:last-child>.accordion-content:last-child {
  border-bottom: 0;
}

.grid-content {
  padding: 0 3rem 0 2rem;
}

ul.order-content {
  padding: 2rem 0 1rem 0;
}


/* music player  */

ul.playlist {
  width: 100%;
  padding: 1rem;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: none;
  margin: 0 0 2rem;
}

ul.playlist li {
  list-style: none;
  padding: 0.25rem 0;
  font-size: 0.8rem;
}

div.track span {
  vertical-align: bottom;
}

span.controls {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/play.png') no-repeat 0;
  vertical-align: bottom;
  cursor: pointer;
  bottom: 2px;
  position: relative;
}

span.controls:hover {
  background-image: url('../images/playing.png');
}

span.playing {
  background-image: url('../images/stop.png') !important;
}

span.playing:hover {
  background-image: url('../images/stoped.png') !important;
}

span.title {
  display: inline-block;
  width: 86%;
}

span.minus {
  display: none;
  width: 5px;
}

span#timeleft {
  display: inline-block;
  width: 20px;
}

div.progressBar {
  width: 100%;
  margin: 10px 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

div.progress {
  width: 0%;
  height: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #IndianRed;
}

#column-right {
  background: black;

  /* rgba(0,0,0,0.3); */
  ul {
    color: white;
    margin: 0;

    li {
      list-style-type: none;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;

      i {
        color: #aaa;
      }
    }
  }

  h4 {
    background: none;
    color: white;
    padding: 2rem 0 1rem;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    border-left: 0;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
  #column-center {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}