body{
    background: #cfebea;
}
body, h1,h2,h3,h4,h5,h6,.button{
        font-family: Noto sans, sans-serif;
}
h1{
    background: black;
  color: white;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}
h2{
    font-size: 1.2rem;
  color: #444;
  font-style: italic;
  letter-spacing: -0.2px;
}
h3{
    background: black;
  color: white;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
}
h3.title-centrales{
margin-top: 2rem;
}
h4{
    background: black;
  color: white;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
}
h5{
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
p small{
    line-height: 1.4rem !important;
  display: block;
}
#grid-pais{
    min-height: 100vh;
}s

p.small{
    font-size: .85rem;
}
.accordion{
    background: none;
}
.accordion-title{
    border: 0;
    color: black;
    padding-left: 0;  font-weight: 600;

}
.accordion-title:focus, .accordion-title:hover {
  background: none !important;
  color: black;
  text-decoration: underline;
}
.accordion-content{
    border: 0;
    background-color: rgba(255,255,255,0.1);
}
:last-child:not(.is-active) > .accordion-title, :last-child > .accordion-content:last-child{
    border-bottom: 0;
}
.grid-content{
    padding: 0 1rem;
}
ul.order-content{
    padding: 2rem 0 1rem 0;
}


/* music player  */

ul.playlist {
  width: 100%;
  padding: 1rem;
  font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: none;
  margin: 0 0 2rem;
}

ul.playlist li {
  list-style: none;
  padding: 0.25rem 0;
  font-size: 0.8rem;
}

div.track span {
  vertical-align: bottom;
}

span.controls {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/play.png') no-repeat 0;
  vertical-align: bottom;
  cursor: pointer;
  bottom: 3px;
  position: relative;
}

span.controls:hover {
  background-image: url('../images/playing.png');
}

span.playing {
  background-image: url('../images/stop.png') !important;
}

span.playing:hover {
  background-image: url('../images/stoped.png') !important;
}

span.title {
  display: inline-block;
  width: 86%;
}

span.minus {
  display: none;
  width: 5px;
}

span#timeleft {
  display: inline-block;
  width: 20px;
}

div.progressBar {
  width: 100%;
 margin: 10px 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.15);
  cursor: pointer;
}

div.progress {
  width: 0%;
  height: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: red;
}